<div class="card">
  <h5 class="card-header">LetsTin</h5>
  <div class="card-body">
    <h5 class="card-title">Choose your tin</h5>
    <p class="card-text">When do you have time ...</p>
    <ngb-datepicker class="time" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
    <div class="activity">
      <input [(ngModel)]="activity" type="text" id="activityText" placeholder="... and what to tin ...">
    </div>
    <div id="tinBtn">
      <a href="#" class="btn btn-primary">Tin</a>
    </div>
  </div>
</div>
